body{
  margin:0;
  padding:0;
   font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color:#A9D0C2;
}

  


/*site body*/
footer{
  font-size: 0.75em;
  text-align: center;
  padding-top:50px;
  color:#ccc;
}

/**********************************nav styling***********/
.topnav {
  overflow: hidden;
  border-bottom-width: 1px;
  border-bottom-color: #cfd8dc;
  border-bottom-style: solid;
  text-align: center;
   
}
header{
  clear: both;
  background-color:#D09EA4;
}
 a:hover{
  color: rgb(28, 121, 184);;
  z-index: 55;
}
.logo {
  width:80px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  border-radius: 50%;
}

.topnav a {
  text-decoration: none;
  font-size: 17px;
  padding:0 120px 0 120px;
  margin-top:10px;
  margin-bottom:10px;
  background-color:#C17E86;
  font-weight: 700;
}
.topnav a:nth-child(1){
  margin-left: 12px;
  margin-right: 12px;
}
.topnav a:nth-child(4){
  margin-right: 12px;
  margin-left: 12px;
}
.topnav a:nth-child(2){
  margin-right: 12px;
  margin-left: 12px;

}
.topnav a:nth-child(3){
  margin-right: 12px;
  margin-left: 12px;

}


.topnav a{
 
  display:inline-block;
}


a{
  color: #333;
}

.active {
  color: rgb(28, 121, 184);;

}

.topnav .icon {
  display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none
    outline: none;
    color: rgb(28, 121, 184);;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: inline-block;
    margin-right:10px;
    padding:1px 4px 1px 4px;
   
  }
  
 
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
   .topnav a{
    padding:0 30px 0 30px;
 
  } 
  .logo{
    display: none;
  }
  .topnav.responsive a {
    float: none;
    display: inline-block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: inline-block;
    width: 100%;
    text-align:left;
  }
}





/*************** fashiom****************/
#pages{
  list-style: none;
  margin:0 10px;
  padding:0;
  
}



.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding:auto;
  padding: auto;
}
.formPricing{
  font-size: 14px;
  color: #545454;
}
.responsive{
  width:100%;
  height: auto;
}
.responsive-index{
  width:30%;
  height: auto;
}

.row {
  padding: 2%;
}
.Sweater{
  margin-bottom: 0;
  padding-bottom: 0;
}

.price{
  margin-top: 0;
  padding-top: 0;
  color:#d50000;
}
.price-sub{
  color:#333;
  text-decoration: line-through;
}


/***********************8section 3***********************/
.section-three{
  margin:0 auto;
  border-top-color: red;
  border-top-width: 1px;
  border-top-style: solid;
  width:85%;
  color:#333;

}

.body-header{
  text-align: center;

}
.body-header h1{
  font-size: 24px;
}

.section-three-content p{
  padding: 5px;
  padding-top: 0;
  font-size: 15px;
}






/**********************index page*************************/
.img-gutter-one{
  display: block;
  margin-right: 45px; 
  margin-left: 45px;
}
.img-gutter-two{
  display: block;
  margin-right: 45px;
  margin-left: 45px;
}
.photo{
  margin-top: 25px;
}
.gutter-generic{
  margin-right: 1.3%; 
  width:48.5%;"

}
.img-gutter-one-position{
  position: relative;
}





/***************About Page *******************/
.about ul li{
  list-style: none;
}
#wrapper{
  margin: auto;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  color:#333;
}

/***************************************************/




footer{
  clear:both;
  background-color:#2E3C54; 
}
footer p{
  padding-bottom: 10px;
}
.social-icon{
  width:30px;
  height:30px;
  margin:0 5px;
}
.social-icon-mail{
    min-width: 35px;
    height: 35px;
}


.body-header h1{
  color: #333;
  font-weight: 700;
}

/*******************************************form*********************************************************/
form {
  margin: 0 auto;
  width: 60%;
  background-color: inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 35px;

}


.homePageForm{
  margin-left:30px;
  width:85%;
  margin-top:3px;
  margin-bottom: 0;
  padding:0;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);;
  background-color:inherit;
}

.form-header{
  margin:2px;
  padding:6px;
}
button{
  margin-top: 15px;
}
.form-content{
  padding:6px;
  margin:2px;
}
input[type=text], select {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #333;
  border-radius: 2px;
  box-sizing: border-box;
  background-color:inherit;
}

input[type=submit] {
  width: 95%;
  background-color: #232A34;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #2E3C54;
}


textarea {
  width: 95%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #eee;
  border-radius: 4px;
  background-color: inherit;
  font-size: 16px;
  resize: none;
}

section.example input[type=text] {
    padding: 8px;
    font-size: 17px;
    border: 1px solid grey;
    float:right;
    width: 20%;
    background:#fff;
}

section.example button {
    float: right;
    width: 10%;
    padding: 8px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-top:8.4px;
    margin-right: 45px;
}

section.example button:hover {
    background: #0b7dda;
}
section.example button{
background:#253327;

}


section.example::after {
    content: "";
    clear: both;
    display: table;
}


/***************************************demo text styling********************************/
 #demo{
  color: red;
  text-align: center;
  font-size: 18px;
  padding: 25px;
 }














 /*****************************MEDIA QUEIRES*********************************/
 /* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .gutter-generic{
    width:48.4%;
    margin-right:1.3%;
  }
  .img-gutter-one{
    padding-left:15px;
    padding-right:15px;
  }
  .example{
    margin-right:15px;
  }

  
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
 
}

@media only screen and (min-width: 320px) {
  /* For desktop: */
  .col-xs-1 {width: 8.33%;}
  .col-xs-2 {width: 16.66%;}
  .col-xs-3 {width: 25%;}
  .col-xs-4 {width: 33.33%;}
  .col-xs-5 {width: 41.66%;}
  .col-xs-6 {width: 50%;}
  .col-xs-7 {width: 58.33%;}
  .col-xs-8 {width: 66.66%;}
  .col-xs-9 {width: 75%;}
  .col-xs-10 {width: 83.33%;}
  .col-xs-11 {width: 91.66%;}
  .col-xs-12 {width: 100%;}
  .gutter-generic{
    width:47.7%;
    margin-right:1.3%;
  }
  .img-gutter-one{
    margin-right:15px;
    margin-left:15px;
  }
  .img-gutter-two{
    margin-right:15px;
    margin-left:15px;
  }
  section.example button{
    margin-right:15px;
  }
}



