body{
	margin:0;
	padding:0;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	line-height: 1.5;
}
.main-content{
	
}

   nav ul li .active{
    color:#61DAFB;
    background-color: transparent;
  }
 
a{
	text-decoration: none;
	color: #fff;
}
nav a{
	font-weight: 600;
}
a:hover{
  color: red;
}

#wrapper{
	max-width: 980px;
	margin:0 auto;
	padding:0 2%;
}
header{
	float:left;
	margin:0 0 0 0;
	padding:5px 0 0 0; 
	width:100%;
	z-index: 25;
	position: relative;
}
header a h1{
	text-shadow: 4px 10px 10px #000000;
	font-size: 35px;
}
#logo{
	text-align:center;
	margin:0;
	
}

header{
	background:#2E3C54;
	border-color:#232A34;
	
}
h1{
	color:#fff;
	font-family:'Changa one',sans-serif;
	margin:15px 0;
	font-size:1.75em;
	font-weight:normal;
	line-height:0.8em;
}

h2{
	color:#fff;
	font-size:0.75em;
	margin:-5px 0 0;
	font-weight: normal;
}
nav{
	text-align:center;
	padding:20px 0;
	margin:20px 0 0;
}

nav {
	background:#232A34;
} 
nav ul li a{
	font-size: 18px;
	padding-right: 10px;
	border-right-width: 2px;
	border-right-color: #fff;
	border-right-style: solid;

}


/*site body*/
footer{
	font-size: 0.75em;
	text-align: center;
	padding-top:50px;
	color:#ccc;
}
body{
	background: #fff;
	color:#999;
}
img{
	max-width: 100%;
}


/*************** fashiom****************/
#pages{
	list-style: none;
	margin:0 10px;
	padding:0;
	
}

nav ul li{
	display: inline-block;
	padding-left: 3px;
	padding-right: 3px;
}

#gallery{
	margin:0;
	padding:0;
	list-style:none;
}
#about{
	margin:0;
	padding:0;
	list-style:none;
}
#about li{
	float:left;
	width:100%;
	margin:2.5%;
	/*background-color:#f5f5f5;*/
	color:#bdc3c7;

}
#about li p{
	margin:0;
	padding:5%;
	font-size:0.75em;
	width:auto;
}

#gallery li{
	float:left;
	width:45%;
	margin:2.5%;
	background-color:#f5f5f5;
	color:#6D7986;
}

#gallery li p {
	margin:0;
	padding:5%;
	font-size:0.75em;
}

footer{
	clear:both;
	background-color:#2E3C54; 
}
footer p{
	padding-bottom: 10px;
}
.profile-photo{
	display:block;
	max-width: 150px;
	margin:0 auto 30px;
	border-radius:45%;
}

.social-icon{
	width:30px;
	height:30px;
	margin:0 5px;
}
.social-icon-mail{
    min-width: 35px;
    height: 35px;
}

.content{
	padding: 10px;
	clear: both;
	border-top-width: 2px;
	border-top-color: red;
	border-top-style: solid;
}
.content p{
	font-size: 16px;
	padding: 5px;
}
.row{
	background:yellow;
	clear: both;
	padding:0;
	margin:0;
}

.responsive{
	width:100%;
	height: auto;
}
.body-header{
	text-align: center;
}
.body-header h1{
	color: #333;
	font-weight: 700;
}


.picture-text{
	color: #333;
}

/*******************************************form*********************************************************/
form {
	margin: 0 auto;
  width: 60%;
  background-color: #FCFEFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 35px;

}
button{
	margin-top: 15px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  resize: none;
}


/***************************************demo text styling********************************/
 #demo{
 	color: red;
 	text-align: center;
 	font-size: 18px;
 	padding: 25px;
 }